# Lab 3 - Video Game Reviews

In [2]:
import pandas as pd
from math import nan

## Import Data

In [3]:
df = pd.read_csv('imdb-videogames.csv')

In [4]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [5]:
df.shape

(20805, 17)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [7]:
df.certificate.value_counts()

T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           229
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
TV-14           1
Passed          1
Name: certificate, dtype: int64

## Clean Data

Clean and Fix Rating

In [8]:
df.rating.replace("*9.0", "9.0", inplace=True)
df.rating = pd.to_numeric( df.rating)
df.rating.mean()

7.047793483882048

Clean and Fix Votes

In [9]:
df.votes = df.votes.str.replace(',', '')
df.votes = pd.to_numeric(df.votes)
df.votes.mean()

630.9875883468368

change Sci-Fi to SciFi so we can do things with it

In [10]:
df.columns = ['unnamed','name','url', 'year', 'certificate','rating','votes','plot summary','Action','Adventure','Comedy','Crime','Family','Fantasy','Mystery','SciFi','Thriller']

## Questions

### 1. What is the average rating for Action games?

In [11]:
df[df.Action].rating.mean()

7.069257468699611

### 2. What is the average rating of games after 2010? What is the average rating of games before (and including) 2010?

In [12]:
print(f"Average raitng of games after 2010: {df[(df.year > 2010)].rating.mean()}")
print(f"Average raitng of games after 2010: {df[(df.year < 2010)].rating.mean()}")

Average raitng of games after 2010: 7.119838056680145
Average raitng of games after 2010: 6.9963723962023625

### 3. What games include "Fallout" in their title?

In [13]:
(df.name.str[0:7] == "Fallout").sum()

44

### 4. What is the most common certificate for Sci-Fi games?

In [14]:
df[(df.SciFi)].certificate.value_counts()

T            424
M            339
E            185
E10+          94
Unrated       46
K-A           41
Not Rated     29
AO             5
GA             5
MA-13          4
12             3
EC             3
PG-13          1
Approved       1
G              1
MA-17          1
Name: certificate, dtype: int64

### 5. What percent of Thiller games have M or AO certificate?

In [15]:
thriller_m_ao = df[(df.Thriller == True) & (df.certificate == 'M') | (df.certificate == 'AO')]
thriller = df[(df.Thriller==True)]


len(thriller_m_ao)/len(thriller)

0.3824091778202677

### 6. What is the mean and median rating for Family games? for Action games?

In [16]:
print(f"The average rating for Family Games is {df[df.Family].rating.mean()} ")
print(f"The median rating for Family Games is {df[df.Family].rating.median()} ")
print(f"The average rating for Action Games is {df[df.Action].rating.mean()} ")
print(f"The median rating for Action Games is {df[df.Action].rating.median()} ")

The average rating for Family Games is 6.686450381679379
The median rating for Family Games is 6.9
The average rating for Action Games is 7.069257468699611
The average rating for Action Games is 7.2

### 7. Which game from 2018 got the most votes?

In [17]:
votes = df[df.year == 2018.0].votes.max()
df[df.votes == votes].name

15915    Red Dead Redemption II
Name: name, dtype: object

### 8. What is the average rating for each genre (Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, Sci-Fi, and Thriller)?

In [18]:
print(f"The average rating for Thriller games is  {df[df.Thriller].rating.mean()}")
print(f"The average rating for Adventure games is  {df[df.Adventure].rating.mean()}")
print(f"The average rating for Comedy games is  {df[df.Comedy].rating.mean()}")
print(f"The average rating for Crime games is  {df[df.Crime].rating.mean()}")
print(f"The average rating for Family games is  {df[df.Family].rating.mean()}")
print(f"The average rating for Fantasy games is  {df[df.Fantasy].rating.mean()}")
print(f"The average rating for Mystery games is  {df[df.Mystery].rating.mean()}")
print(f"The average rating for Sci Fi games is  {df[df.SciFi].rating.mean()}")
print(f"The average rating for Action games is  {df[df.Action].rating.mean()}")

The average rating for Thriller games is  7.1071428571428585
The average rating for Adventure games is  7.2494638480392135
The average rating for Comedy games is  7.189196197061372
The average rating for Crime games is  7.315111111111107
The average rating for Family games is  6.686450381679379
The average rating for Fantasy games is  7.261732229123556
The average rating for Mystery games is  7.4513286713286675
The average rating for Sci Fi games is  6.9492544492544575
The average rating for Action games is  7.069257468699611

### 9. Which year's games received the most votes?

In [19]:
#the word "sort" found at https://www.geeksforgeeks.org/pandas-groupby/
df.groupby(['year'], sort = False).votes.sum().head(1)

year
2018.0    416710.0
Name: votes, dtype: float64

### 10. What's the average number of votes for games that are not Action games?

In [20]:
df[df.Action == False].votes.mean()

188.42715700141443

### 11. What games are platformers?

In [21]:
df[df['plot summary'].str.contains('platformer')]

,unnamed,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,SciFi,Thriller
434,434,Sonic and the Fallen Star,https://www.imdb.com/title/tt15964560/?ref_=ad...,2021.0,E,8.3,11.0,Sonic and The Fallen Star is a 2D speed-based ...,True,True,False,False,True,False,False,False,False
838,836,A Hat in Time,https://www.imdb.com/title/tt3642956/?ref_=adv...,2017.0,E10+,8.1,324.0,A Hat in Time is a cute-as-heck 3D platformer ...,True,True,False,False,True,False,False,False,False
904,902,The Last Airbender,https://www.imdb.com/title/tt1666339/?ref_=adv...,2010.0,NaN,4.5,285.0,Action adventure platformer based on the movie...,True,True,False,False,False,True,False,False,False
1085,1083,Treasure Planet,https://www.imdb.com/title/tt1602487/?ref_=adv...,2002.0,E,7.2,168.0,Action-adventure 3-D platformer racing game fo...,True,True,False,False,True,False,False,False,False
1813,1811,Predator,https://www.imdb.com/title/tt0311669/?ref_=adv...,1989.0,Unrated,5.7,85.0,Action-platformer based on the movie of the sa...,True,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18761,18759,PPL: The Animated Adventures,https://www.imdb.com/title/tt15203432/?ref_=ad...,2021.0,NaN,NaN,NaN,A challenging 2D platformer with hard boss fig...,True,False,False,False,False,True,False,False,False
19472,19470,Demolition Man,https://www.imdb.com/title/tt6748986/?ref_=adv...,1995.0,NaN,7.5,16.0,"Acclaim's 16-bit video game for the SNES, Gene...",False,False,False,False,False,False,False,True,False
19474,19472,Astro Bot: Rescue Mission,https://www.imdb.com/title/tt9071226/?ref_=adv...,2018.0,E10+,9.1,197.0,ASTRO BOT Rescue Mission is a brand new platfo...,False,False,False,False,False,False,False,True,False
19627,19625,20XX,https://www.imdb.com/title/tt5862250/?ref_=adv...,2017.0,E10+,6.6,25.0,20XX is a roguelike action platformer that you...,True,True,False,False,False,False,False,True,False
19723,19721,Creator Crate,https://www.imdb.com/title/tt11243630/?ref_=ad...,2021.0,NaN,NaN,NaN,CreatorCrate is a roguelike 2D platformer abou...,True,False,False,False,False,False,False,True,False

### 12.What is the most common certificate of games with rating greater than 8.0 and votes greater than 1000?

In [22]:
df[(df.rating > 8.0) & (df.votes > 1000)].certificate.value_counts().head(1)

M    363
Name: certificate, dtype: int64

### 13. For games with ratings greater than the 75th percentile for ratings and a number of votes greater than the 75th percentile for votes, what is the most common genre?

In [23]:
rating_threshold = df.rating.quantile(0.75)
votes_threshold = df.votes.quantile(0.75)

genres = ["Action", "Adventure", "SciFi", "Thriller"]

good_games = df[(df.rating > rating_threshold) & (df.votes > votes_threshold)]

for genre in genres:
    print(genre, len(good_games[good_games[genre]==True]))


# good_action_games = good_games[good_games.Action == True]
# print("Action", len(good_action_games))

# good_adventure_games = good_games[good_games.Adventure == True]
# print("Adventure", len(good_adventure_games))

Action 1102
Adventure 993
SciFi 186
Thriller 55

### 14. What are the average ratings by year?

In [24]:
df.groupby(['year']).rating.mean()

year
1952.0    7.000000
1962.0    6.800000
1964.0         NaN
1969.0    6.950000
1970.0    4.300000
            ...
2022.0    7.563063
2023.0         NaN
2024.0         NaN
2025.0         NaN
2027.0         NaN
Name: rating, Length: 61, dtype: float64

### 15. For each cerficate, what was the average rating and average number of votes?

In [25]:

avgRate = df.groupby(['certificate']).rating.mean()
avgVote = df.groupby(['certificate']).votes.mean()

pd.concat([avgRate,avgVote], axis=1)

               rating        votes
certificate
12           7.350000    31.375000
AO           6.493333   246.333333
Approved     6.900000    52.333333
CE           5.520000    12.600000
E            7.085637   332.329063
E10+         7.181231   520.265766
EC           6.142857    18.857143
G            5.600000    11.500000
GA           6.531579   165.105263
K-A          6.913089   349.324607
M            7.515584  2498.627557
MA-13        7.080000    83.200000
MA-17        6.000000   165.666667
Not Rated    6.703650   110.759124
PG           5.933333   106.333333
PG-13        6.628571   119.000000
Passed       4.700000    19.000000
T            7.295178   829.020862
TV-14        7.000000   127.000000
TV-MA        7.000000     8.000000
Unrated      6.478222   135.973333